*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'RobotoRegular';
}
body::-webkit-scrollbar {
    width: 10px;
    height: 35px;
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #ff9800;
}
body::-webkit-scrollbar-track{
    border-width:0;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.wrapper{
    width: 100%;
}
.row{
    width: 100%;
    padding-top: 30px;
}
.row img{
    width: 100%;
   z-index:-2;
    height: 100%;
    position: relative;
}
.card{
    display: inline-block;
    width: 33.33333%;
    height: 280px;
    padding-right: 30px;
    float: left;
    transition: box-shadow .2s ease-in-out;
}
.card-last{
    padding-right: 0;
}
.card-link{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.card-link:hover{
    box-shadow: inset -3px -200px 100px -100px rgba(0, 0, 0, .2);
    cursor: url(../img/orange-cursor.png), auto;
}
.card-link-hover{
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    transition: bottom .2s ease-in-out;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.card-link-hover p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
}
.project-info{
    padding-bottom: 10px;
    text-transform: uppercase;
}
.card-link:hover .card-link-hover{
    bottom: 10px;
}
/***********Form************/
.form-wrapper{
    padding: 30px 0;
    background-color: #fafafa;
}
.form-header{
    text-transform: uppercase;
    font-family: 'RobotoLight';
    padding-bottom: 30px;
    color: rgba(0, 0, 0, .7);
}
form{
    padding: 50px 85px;
    width: 75%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
}
.form-row{
    width: 100%;
    height: 50px;
    padding-bottom: 80px;
}
.form-row-item{
    display: inline-block;
    position: relative;
    width: 40%;
    margin-right: 130px;
}
.form-row-item:last-child{
    margin-right: 0;
}
.form-label{
    position: absolute;
    left: 0;
    top: 0;
    transition: top .3s ease-in-out;
    color: rgba(0, 0, 0, .2);
}
.form-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 5px 0;
    outline: none;
    display: block;
}
.form-input:focus +.empty-for-border + .form-label{
     top: -20px;
     color: #00abeb;
     font-size: 12px;
 }
.empty-for-border{
    width: 100%;
}
.empty-for-border:before,
.empty-for-border:after{
    content: "";
    height: 2px;
    width: 0;
    background: #00abeb;
    position: absolute;
    bottom: 0;
    transition: width .3s ease-in-out;
}

.empty-for-border:before{
    right: 50%;
}
.empty-for-border:after{
    left: 50%;
}
.form-input:focus + .empty-for-border:before,
.form-input:focus + .empty-for-border:after {
    width: 50%;
}
.textarea-row{
    position: relative;
    margin-top: -15px;
}
.form-textarea{
    width: 100%;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, .2);
    transition: border .3s ease-in-out;
    resize:none;
    padding: 30px 10px 10px;
    margin-bottom: 45px;
}
.form-textarea:focus{
    border: 2px solid #00abeb;
}
.form-textarea-label{
    width: 150px;
    left: 15px;
    top: 15px;
    transition: left .2s ease-in-out;
    transition: top .2s ease-in-out;
    transition: font-size .2s ease-in-out;
}
.form-textarea:focus + .form-textarea-label{
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #00abeb;
}
.form-button{
    color: #fff;
    text-transform: uppercase;
    height: 42px;
    width: 155px;
    float: right;
    background-color: #00abeb;
    border: none;
    border-bottom: 3px solid #008ebc;
    text-align: left;
    padding: 10px 15px;
    letter-spacing: .5px;
    position: relative;
    border-radius: 2px;
}
.form-button:hover{
    cursor: pointer;
}
.button-text:after{
    content: "";
    background-image: url("../img/ic_send_white_24dp/web/ic_send_white_24dp_1x.png");
    position: absolute;
    width: 26px;
    height: 20px;
    top: 6px;
    left: 118px;
}
.form-select{
    color: rgba(0, 0, 0, .2);
    font-family: 'RobotoRegular';
    font-size: 16px;
}
.option-1, .option-2{
    font-size: 14px;
}
.form-select option[selected]{
    background-color: rgba(0, 0, 0, .2);
}
.option-1:hover{
    background-color: #00abeb;
}
.option-2:hover{
     background-color: #00abeb;
 }

/*************EXPERIENCE*************/
.experience-wrapper{
    margin-top: 30px;
    padding: 100px;
    padding-bottom: 0;
    background-color: #fafafa;
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding-top: 75px;
}
.column-1{
    padding-top: 173px;
    display: inline-block;
    float: left;
}
.grey-circle{
    width: 23px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    position: relative;
}
.orange-circle{
    display: block;
    box-sizing: unset;
    height: 0;
    width: 0;
    border: 4px solid #ff9800;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
.grey-line{
    width: 0;
    height: 245px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    margin-left: 11px;
}
.column-2{
    display: inline-block;
    width: 1110px;
    float: left;
    margin-left: 10px;
}
.row1, .row2, .row3{
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.01);
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.02);
    margin-left: 15px;
    margin-bottom: 50px;
}
.row1 .experience-text {
    overflow-y: scroll;
}
.row1 .experience-text::-webkit-scrollbar {
    width: 10px;
}
.row1 .experience-text::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #ff9800;
}
.row1 .experience-text::-webkit-scrollbar-track{
    border-width:0;
}
.h-experience{
    text-transform: uppercase;
    color: #ff9800;
    font-family: 'RobotoBold';
    margin-left: 15px;
    margin-bottom: 30px;
}
.experience-text-heading{
    padding: 35px;
    background-color: #ff9800;
    width: 345px;
    height: 100%;
    float: left;
    display: inline-block;
    position: relative;
}
.experience-text-heading:before{
   content: "";
    border: 14px solid transparent;
    border-right: 14px solid #ff9800;
    position: absolute;
    left: -27px;
    top: 93px;
}
.experience-text-heading-from, .experience-text-heading-to{
    display: inline-block;
    color: #ffffff;
    width: 45%;
    height: 40px;
}
.experience-text-heading p{
    padding: 0;
    margin: 0;
}
.from, .to{
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.date{
    font-size: 18px;
    line-height: 20px;
}

.experience-text-heading .experience-text-heading-opacity{
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 15px;
    font-size: 14px;
}
.experience-text-heading .experience-text-heading-company{
    color: #fff;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}
.experience-text{
    display: inline-block;
    float: left;
    background-color: #ffffff;
    width: 750px;
    height: 217px;
    padding: 15px 40px;
    line-height: 24px;
    font-size: 14px;
    font-family: RobotoRegular;
}


